body{
    background-color: #583d72;
}
.main-heading{
    font-family: "Courier New";
    text-align: center;
    font-size: 80px;
    color: #ffba93; 
}
.made-by{
    font-family: "Courier New";
    text-align: center;
    color: #9f5f80;
}
.box1,.box2,.box3,.box4,.box5 {
    width: 100px;
    border: 10px ridge #ff8e71;
    padding: 20px;
    margin: 50px;
    -webkit-box-shadow: 5px 12px 15px 4px rgba(0,0,0,0.72); 
    box-shadow: 5px 12px 15px 4px rgba(0,0,0,0.72);
  }
  .box1{
      position: relative;
      left: 100px;
      top: 100px;
      background-image: url(img/1.jpg);
      background-repeat: no-repeat;
      background-position: center;
  }
  .box2{
    position: relative;
    left:200px;
    top: 100px;
    background-image: url(img/2.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.box3{
    position: relative;
    left: 300px;
    top: 100px;
    background-image: url(img/3.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.box4{
    position: relative;
    left: 400px;
    top: 100px;
    background-image: url(img/4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    size:2px;
}
button{
    font-family: "Courier New";
    font-size: 40px;
    color: #9f5f80;
    font-weight: bolder;
}
